.idea
/downloads/aw-download1.archeworld.com/install/SetupArcheWorld.exe
/downloads/aw-download1.archeworld.com/launcher/updates/setup.exe
/services/backend/web/aw-download1.archeworld.com/install/SetupArcheWorld.exe
/services/backend/web/aw-download1.archeworld.com/launcher/updates/setup.exe
