








<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" type="image/x-icon" href="/resources-202501091402/images/common/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="/resources-202501091402/images/common/favicon.ico" />
	<link rel="apple-touch-icon" href="/resources-202501091402/images/common/home.png" />
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/resources-202501091402/images/common/home.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="keyword" content="ArcheWorld, ArcheAge, Arche, PC Game, Online Game, MMORPG, Free Game, NFT Game, Blockchain Game, P2E Game, Crypto Game" />
	<meta property="og:title" content="ArcheWorld" />
	<meta property="og:site_name" content="ArcheWorld" />
	<meta property="og:url" content="https://www.archeworld.com/guide/148"/>
	<meta property="og:image" content="https://www.archeworld.com/resources-202501091402/images/sns.jpg" />
	<meta property="og:description" content="A free play NFT MMORPG on PC that recognizes the users’ ownership of in-game assets, ArcheWorld." name="fbDescription" />
	<meta name="description" content="A free play NFT MMORPG on PC that recognizes the users’ ownership of in-game assets, ArcheWorld."/>
	<meta name="naver-site-verification" content="fd5dd3230b7a27fa430eeb9aa28e8be49dccc85c" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/html5shiv/html5shiv.min.js"></script>
	<![endif]-->	
	<meta name="_csrf_header" content="X-CSRF-TOKEN" />
	<meta name="_csrf_parameter" content="_csrf" />
	<meta name="_csrf" content="76dcf5ce-7423-4250-b65a-9f36ff1323bb" />
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link href="/resources-202501091402/css/swiper-bundle.min.css" rel="stylesheet" />
	<link href="/resources-202501091402/css/common.css" media="screen and (min-width:1200px)" rel="stylesheet" />		
	<link href="/resources-202501091402/css/common_t.css" media="screen and (min-width:768px) and (max-width:1199px)" rel="stylesheet" />
	<link href="/resources-202501091402/css/common_m.css" media="screen and (max-width:767px)" rel="stylesheet" />
	
	<title>Lot &amp; Building (edited 2/23) | Game Guide | ArcheWorld</title>
	
	<title>Lot &amp; Building (edited 2/23) | Guide | ArcheWorld</title>
	<meta name="fbTitle" property="og:title" content="Lot &amp; Building (edited 2/23) | Guide | ArcheWorld" />  

</head>
<body>	
	<div class="wrap">
		<div class="wrap-head">
<div class="gnbWrapper">
	<header role="banner" id="portal-gnb" class="portal-gnb">
		<div class="company-gnb">
			<h1 class="global-gnb-logo">XLGAMES</h1>
			<ul class="company-site">
				<li><a href="https://www.archeworld.com">ArcheWorld</a></li>
				<li><a href="https://www.xbluesalt.io">xBlueSalt</a></li>
			</ul>
		</div>
		<div class="account-util">
			<ul>
				
					<li>
						<a href="https://member.archeworld.com/user/join/agreement" class="link-util"><i class="ico-join"></i> <span>Sign Up</span></a>
					</li>
					<li>
						<a href="https://member.archeworld.com/user/login/form?forwardUrl=https://www.archeworld.com/guide/148" class="btn-portal-login">
							<i class="ico-login"></i> <span>Log In</span>
						</a>
					</li>
									
			</ul>			
		</div>
	</header>
</div>

<header id="common-masthead">
	<div class="masthead">
		<h1>
			<a href="/" class="bi">ArcheWorld</a>
		</h1>
		<a href="#global-navi" class="nav-menu">menu</a>
		<div class="global-navi-side" id="global-navi">
			<div class="masthead-navi-bi">
				<a href="/" class="navi-bi"></a>
				<div class="navi-bar"></div>
			</div>
			<nav role="navigation" id="common-navi" class="masthead-navi">
				<div class="gnb-on"></div>
				<h2>menu</h2>
				<ul class="navi">
					<li class="m1" id="menu_news"><a href="/news">News</a></li>
					<li class="m2" id="menu_guide"><a href="/guide">Guide</a></li>
					<li class="m4" id="menu_Community"><a href="https://discord.com/invite/archeworld-935064183244988446" target="_blank">Channel</a>
						<div class="sub-navi">
							<ul>
								<li><a href="https://discord.com/invite/archeworld-935064183244988446" target="_blank">Discord <i class="ico-blank-sub"></i></a></li>
								<li><a href="https://x.com/ArcheWorld_NFT" target="_blank">X <i class="ico-blank-sub"></i></a></li>
								<li><a href="https://t.me/ArcheWorld_nft" target="_blank">Telegram <i class="ico-blank-sub"></i></a></li>								
								<li><a href="https://www.youtube.com/channel/UCr6VSErE34grhDrxqutPr0A" target="_blank">YouTube <i class="ico-blank-sub"></i></a></li>
							</ul>
						</div>
					</li>
					<li class="m5" id="menu_xbluesalt"><a href="https://www.xbluesalt.io" class="navi-link">BlueSalt</a>
						<div class="sub-navi">
							<ul>
								<li id="menu_sub_bslt"><a href="https://bslt.asia.xbluesalt.io/bslt" class="region-link">BSLT</a></li>
								<li id="menu_sub_staking"><a href="https://www.xbluesalt.io/staking/info">Staking</a></li>
								<li id="menu_sub_coupon"><a href="https://bslt.asia.xbluesalt.io/coupon" class="region-link">Coupon</a></li>
								<li id="menu_sub_scope"><a href="https://scope.asia.xbluesalt.io/" class="region-link">Scope</a></li>
							</ul>
						</div>
					</li>
					<li class="m6" id="menu_help"><a href="/help/faq" class="navi-link">Customer Support</a>
						<div class="sub-navi">
							<ul>
								<li id="menu_sub_faq"><a href="/help/faq">FAQ</a></li>
								<li id="menu_sub_form"><a href="/help/inquiry/form">Ticket</a></li>
								<li id="menu_sub_list"><a href="/help/inquiry/list">Ticket History</a></li>
								<li id="menu_sub_otp"><a href="/security/otp">OTP</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
			<div class="game-start">
				<a href="javascript:;" class="loginRequired">Game Start</a>
			</div>
			
		</div>
		
			<a href="https://member.archeworld.com/user/login/form?forwardUrl=https://www.archeworld.com/guide/148" class="nav-login">Log In</a>
			
		
	</div>
	<div class="global-navi-outer">
			<a href="javascript:;" class="btn-navi-close">menu close</a>
		</div>
		<div class="navi-in-bg"></div>
</header>
</div>
		<section class="container">
			
				<div class="sub-keyvisual">
	<div class="keyvisual sub-guide">
		<div class="inner">
			<P>New beginning</P>
			<div class="title">ArcheWorld</div>
		</div>
	</div>
</div>	
					
						
			
<div class="contents">	
	<h2><a href="/guide">Guide</a></h2>
	<div class="btn-search-wrap">
	<a href="#search-mode" id="searchToggleBtn">
		<span class="ico-search-open">검색</span>
		<span class="ico-search-close">닫기</span>
	</a>
</div>
<div class="search">
	<form id="searchForm" class="board-search-box" action="/guide" method="GET">
		<input type="hidden" name="searchType" value="TITLE_AND_CONTENT" />
		<div class="search-box">
			<input type="text" name="keyword" class="keyword" value="" />
			<a href="#" class="keywordReset" id="keywordReset" style="display:none;"></a>
			<button type="submit" class="btn gray btn-search searchSubmitBtn">Search</button>
		</div>
	</form>
</div>


		
	
		<div id="slider" class="tab-category-wrap">
			<ul class="tab-sub-menu" id="tabCategory">
				<li class="on">
					<a href="/guide" >All</a>
				</li>
					<li class="">
						<a href="/guide?categories=Youtube">
							Youtube
						</a>
					</li>
				
					<li class="">
						<a href="/guide?categories=Beginner">
							Beginner
						</a>
					</li>
				</ul>
		</div>
		
	<article class="view">
		
			<header class="head">
				<h3>Lot &amp; Building (edited 2/23)<em class="notice-id">Beginner</em></h3>
				<small class="time">
					2023-02-23 03:00
				</small>
			</header>
			<section class="cont doc">
				<div>
<h2 id="h2-1" style="margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; font-size: 1.286em; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>Lot</strong></span></h2>
</div>
<div>A lot is the basis for almost every production activities in ArcheWorld. Buildings, crops , livestock, etc. can be installed in the lot.<br />There are two types of lots: system-provided lot and private lot from ArcheWorld Land NFT. <br />There are five sizes of lots, and buildings that can be installed are different depending on the lot size.&nbsp;</div>
<div>
<ul>
<li>16m x 16m / 16m x 24m / 24m x 32m / 32m x 36m / 44m x 44m</li>
</ul>
</div>
<div>
<h2 id="h2-1" style="font-size: 1.286em; margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>Leasing Contract</strong></span></h2>
</div>
<div>You can make a Leasing Contract by moving to the desired lot and interacting with the Signpost.<br /><br />
<div>Leasing Contract can be made only when Leasing Authority Status is public, and the leasing period is 4 weeks.&nbsp;</div>
<div>
<ul>
<li>System-provided lot: A lot provided by the company and a contract can be made for up to one lot.</li>
<li>Private lot: A lot owned by the individual who has ArcheWorld Land NFT and a contract can be made according to the Leasing Authority Status.&nbsp;</li>
</ul>
<table style="width: 100%;" border="0">
<tbody>
<tr style="background-color: #f4f4f4;">
<td style="text-align: center;"><strong>Leasing Contract</strong></td>
<td style="text-align: center;"><strong>Details</strong></td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2"><strong>Available</strong></td>
<td style="text-align: center;">Any user can make a contract</td>
</tr>
<tr>
<td style="text-align: center;">Only users who own the Land NFT of the lot can make a contract</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2"><strong>Unavailable</strong></td>
<td style="text-align: center;">Leasing Contract is due to expire</td>
</tr>
<tr>
<td style="text-align: center;">The lot is already under contract with another user</td>
</tr>
</tbody>
</table>
<h2 id="h2-1" style="font-size: 1.286em; margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>How to Search Lot</strong></span></h2>
<div>
<div>Enter the lot number in the [Search Land Location] menu on the bottom right of the Map(M) menu to see the location of the lot.&nbsp;&nbsp;</div>
<div>The lot number is same as the Land NFT Properties ID.&nbsp;</div>
</div>
</div>
</div>
<img src="/aw-download1.archeworld.com/web/guide/beginner/lot3.png" alt="" /><br /><br />Enter the lot number(Land NFT Properties ID) in the search box.<br /> <img src="/aw-download1.archeworld.com/web/guide/beginner/lot4.PNG" alt="" /><br /><br />The location of the land will be marked with red flag on the map and the light pillar will appear on the Signpost of the lot.&nbsp;<br />
<table border="0">
<tbody>
<tr>
<td><img src="/aw-download1.archeworld.com/web/guide/beginner/lot5.PNG" alt="" /></td>
<td><img src="/aw-download1.archeworld.com/web/guide/beginner/lot6.PNG" alt="" /></td>
</tr>
</tbody>
</table>
<div>
<div><strong><span style="text-decoration: underline;">Notes</span></strong></div>
<div>
<ul>
<li>Leasing Contract can be extended through the mail sent before the termination of the contract.&nbsp;</li>
<li>Leasing Contract may not be extended depending on the Leasing Authority Status of the lot.&nbsp;</li>
<li>Vegetations and buildings installed on the lot will be deleted at once when the contract is terminated.</li>
<li>The blueprint of demolished building will be returned to Blue Salt Brotherhood Returns, and you can retrieve the BSLT used for purchasing it. Installed furniture will be retrieved and sent to your mailbox.</li>
<li>However, decorative furniture won't be retrieved and will be destroyed.</li>
<li><span style="color: #000000;">Early termination of Leasing Contract is possible when you don't use the contracted lot.&nbsp;</span></li>
<li><span style="color: #000000;">The information of lot will be destroyed and the blueprint will be returned same as the normal contract termination.</span></li>
</ul>
<h2 id="h2-1" style="font-size: 1.286em; margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>Buildings</strong></span></h2>
<div><span style="text-decoration: underline;"><strong>Purchasing Building Blueprint</strong></span></div>
<div>You can purchase the blueprint of building at the Blue Salt Shop.</div>
<div>
<ul>
<li>Please check the price of the blueprint at the in-game BSLT Shop.</li>
</ul>
</div>
<div>&nbsp;</div>
<div><span style="text-decoration: underline;"><strong>Available Buildings by Size of Lot</strong></span></div>
<div>Different types of buildings can be installed depending on the size of the lot. and the tier of the lot. Buildings that don't match the tier of the lot cannot be installed.&nbsp;</div>
<div>
<ul>
<li>ex) 'Blueprint: Small House Stylobate' cannot be installed on the STANDARD sized lot.</li>
</ul>
<table style="width: 100%;" border="0">
<tbody>
<tr style="background-color: #f4f4f4;">
<td style="text-align: center;"><strong>Classification</strong></td>
<td style="text-align: center;"><strong>Size</strong></td>
<td style="text-align: center;"><strong>Available Blueprints</strong></td>
</tr>
<tr>
<td style="text-align: center;">STANDARD</td>
<td style="text-align: center;">16m x 16m</td>
<td style="text-align: center;">Blueprint: Tent Stylobate</td>
</tr>
<tr>
<td style="text-align: center;">MEDIUM</td>
<td style="text-align: center;">16m x 24m</td>
<td style="text-align: center;">Blueprint: Tent Stylobate<br />Blueprint: Small House Stylobate</td>
</tr>
<tr>
<td style="text-align: center;">LARGE</td>
<td style="text-align: center;">24m x 32m</td>
<td style="text-align: center;">Blueprint: Tent Stylobate<br />Blueprint: Small House Stylobate<br />Blueprint: Medium House Stylobate</td>
</tr>
<tr>
<td style="text-align: center;">EXTRA LARGE</td>
<td style="text-align: center;">32m x 36m</td>
<td style="text-align: center;">Blueprint: Tent Stylobate<br />Blueprint: Small House Stylobate<br />Blueprint: Medium House Stylobate<br />Blueprint: Large House Stylobate</td>
</tr>
<tr>
<td style="text-align: center;">MEGA</td>
<td style="text-align: center;">44m x 44m</td>
<td style="text-align: center;">Blueprint: Tent Stylobate<br />Blueprint: Small House Stylobate<br />Blueprint: Medium House Stylobate<br />Blueprint: Large House Stylobate<br />Blueprint: Manor Stylobate</td>
</tr>
</tbody>
</table>
<div><span style="text-decoration: underline;"><strong>Building Installation</strong></span></div>
<div>Purchased blueprint of the building can be installed on the lot you contracted. You can start the construction by changing the appearance&nbsp;of the building using the Remodeling function after the installation of stylobate.&nbsp;</div>
<div>&nbsp;</div>
<div><strong>1. Place the blueprint item on the contracted lot.&nbsp;</strong><br /> <img src="/aw-download1.archeworld.com/web/guide/beginner/lot7.PNG" alt="" /> <br /><strong><br />2. Check the list of buildings that can be changed on the Building Information &gt; Remodel.</strong><br /><img src="/aw-download1.archeworld.com/web/guide/beginner/lot8.PNG" alt="" /><br />
<div>Choose the building you want to install and confirm the building remodeling.</div>
<div>(You can rotate the building using the mouse wheel.)</div>
<img src="/aw-download1.archeworld.com/web/guide/beginner/lot9.PNG" alt="" />
<div><br /><strong>3.&nbsp;</strong><strong>Check the required materials on the Building Info and proceed the installation in the proper order to finish the installation</strong><strong>.</strong></div>
<div><img src="/aw-download1.archeworld.com/web/guide/beginner/lot10.PNG" alt="" /><img src="/aw-download1.archeworld.com/web/guide/beginner/lot11.PNG" alt="" /><br /><br />
<div><span style="text-decoration: underline;"><strong>Returning the Blueprint</strong></span></div>
<div>You can receive the BSLT used for purchasing the blueprint from the Blue Salt Brotherhood NPC at the community center.&nbsp;</div>
<div>The blueprint of demolished building will be returned and BSLT will be retrieved automatically.<br />
<div>
<h2 id="h2-1" style="font-size: 1.286em; margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>Buildings - Special Furniture</strong></span></h2>
</div>
<div>The following table shows the type and amount of special furniture that can be installed by each building. <span style="color: #008000;"><strong>(edited 2/23)</strong></span></div>
<table style="width: 100%;" border="0">
<tbody>
<tr style="background-color: #f4f4f4;">
<td style="text-align: center;"><strong>Building Name</strong></td>
<td style="text-align: center;"><strong>Special Furniture Type</strong></td>
<td style="text-align: center;"><strong>Available Installation Quantity</strong></td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Tent</td>
<td style="text-align: center;">Basic Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic Processing Station</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic Storage Chest</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Small House</td>
<td style="text-align: center;">Basic ~ Grand Bed<span style="background-color: #3399ff;"><br /></span></td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Processing Station</td>
<td style="text-align: center;">2</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Storage Chest</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Small House Upgrade</td>
<td style="text-align: center;">Basic ~ Grand Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Processing Station</td>
<td style="text-align: center;">3</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Grand&nbsp;Storage Chest</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Medium House</td>
<td style="text-align: center;">Basic ~ Rare Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Processing Station</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Storage Chest</td>
<td style="text-align: center;">2</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Medium House Upgrade</td>
<td style="text-align: center;">Basic ~ Rare&nbsp;Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Processing Station</td>
<td style="text-align: center;">5</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Storage Chest</td>
<td style="text-align: center;">2</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Large House</td>
<td style="text-align: center;">Basic ~ Arcane Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Arcane&nbsp;Processing Station</td>
<td style="text-align: center;">6</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Storage Chest</td>
<td style="text-align: center;">3</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Large House Upgrade</td>
<td style="text-align: center;">Basic ~ Arcane&nbsp;Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Arcane Processing Station</td>
<td style="text-align: center;">8</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare Storage Chest</td>
<td style="text-align: center;">3</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Mansion</td>
<td style="text-align: center;">Basic ~ Heroic Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Heroic&nbsp;Processing Station</td>
<td style="text-align: center;">10</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare Storage Chest</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">Mansion Upgrade</td>
<td style="text-align: center;">Basic ~ Heroic&nbsp;Bed</td>
<td style="text-align: center;">1</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Workbench</td>
<td style="text-align: center;">4</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Heroic&nbsp;Processing Station</td>
<td style="text-align: center;">12</td>
</tr>
<tr>
<td style="text-align: center;">Basic ~ Rare&nbsp;Storage Chest</td>
<td style="text-align: center;">4</td>
</tr>
</tbody>
</table>
</div>
<div>
<h2 id="h2-1" style="font-size: 1.286em; margin: 1.5em -0.7em 0px; padding: 0.278em 0.7em 0.333em; text-size-adjust: 100%; border: 1px solid #dfdfdf; background-color: #f6f6f6; overflow-wrap: break-word; position: relative; font-weight: normal; letter-spacing: -1px; font-family: 'Malgun Gothic', '맑은 고딕', dotum, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;"><span style="color: #000000;"><strong>Public Farm</strong></span></h2>
</div>
<div>Public Farm is a space where anyone can plant, whether they own a lot or not.&nbsp;</div>
<div>You can check the location of the Public Farm on the map(M) and there are usually several public farms in each region.</div>
<div>A character can plant up to three vegetations in order to prevent monopolization of the Public Farm, and the installed vegetations are protected for 72 hours.&nbsp;</div>
<div>Please be cautious because other user can take the vegetation after 72 hours.&nbsp;</div>
<div>You can check the status of the planted vegetation on the Public Farm in the Public Farm Overview(Shift + J).</div>
<img src="/aw-download1.archeworld.com/web/guide/beginner/lot0.PNG" alt="" /></div>
</div>
</div>
</div>
</div>
				
				
			</section>
	
			<div class="wrap-btn">
				<a href="/guide/?page=1" class="btn big">List</a>
			</div>
		
		
		<div class="in-list">
			<div class="mboard">		
				<ul class="mboard-list">			
	
	<li class="">
		<a href="/guide/435?page=1">
			
				<span class="thumb"><img src="https://i.ytimg.com/vi/beyJypbtctE/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: Lumia Dispatch Guide</strong>
					
					
				</div> 
				
				
				<div class="time">
					2023-10-04<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/342?page=1">
			
				<span class="thumb"><img src="https://i.ytimg.com/vi/seEepAXG-pE/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: Equipment Item NFT Guide (edited 5/24)</strong>
					
					
				</div> 
				
				
				<div class="time">
					2023-05-24<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/130?page=1">
			
				<span class="thumb"><img src="/aw-download1.archeworld.com/web/guide/icon_subList_beginner01.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>Wallet Verification Guideline (edited 3/23)</strong>
					
					
				</div> 
				
				
				<div class="time">
					2023-03-23<span class="txt_bar"> | </span>Beginner</div>
			</div>
		</a>
	</li>			
	
	<li class="active">
		<a href="/guide/148?page=1">
			
				<span class="thumb"><img src="/aw-download1.archeworld.com/web/guide/icon_subList_beginner12.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>Lot &amp; Building (edited 2/23)</strong>
					
					
				</div> 
				
				
				<div class="time">
					2023-02-23<span class="txt_bar"> | </span>Beginner</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/150?page=1">
			
				<span class="thumb"><img src="/aw-download1.archeworld.com/web/guide/icon_subList_beginner08.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>Mount (edited 7/10)</strong>
					
					
				</div> 
				
				
				<div class="time">
					2023-01-01<span class="txt_bar"> | </span>Beginner</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/249?page=1">
			
				<span class="thumb"><img src="/aw-download1.archeworld.com/web/guide/icon_subList_beginner01.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>ArcheWorld ‘How to download’ Guide</strong>
					
					
				</div> 
				
				
				<div class="time">
					2022-12-29<span class="txt_bar"> | </span>Beginner</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/440?page=1">
			
				<span class="thumb"><img src="https://i.ytimg.com/vi/H2_Bs-W4iVE/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: Fandom Card Staking Guide</strong>
					
					
				</div> 
				
				
				<div class="time">
					2022-10-01<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/439?page=1">
			
				<span class="thumb"><img src="https://i.ytimg.com/vi/GQHBJACBPnM/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: 4. Ancestral Hunting Ground</strong>
					
					
				</div> 
				
				
				<div class="time">
					2022-10-01<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/438?page=1">
			
				<span class="thumb"><img src="https://i.ytimg.com/vi/DB1MJyrjTVM/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: 3. The Rift</strong>
					
					
				</div> 
				
				
				<div class="time">
					2022-10-01<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			
	
	<li class="">
		<a href="/guide/185?page=1">
			
				<span class="thumb"><img src="https://img.youtube.com/vi/rsAFjqo21pI/sddefault.jpg" onerror="this.src='/resources-202501091402/images/common/default.jpg'"/></span>
			
			<div class="list">
				<div class="cont-title">
					<strong>The Adventure of Moa: 2. Housing &amp; Craft</strong>
					
					
				</div> 
				
				
				<div class="time">
					2022-09-16<span class="txt_bar"> | </span>Youtube</div>
			</div>
		</a>
	</li>			

</ul>


		
			</div>
		</div>
		
		

<div class="paging">
	<div class="pg-inner">
		 <a href="/guide?page=1" class="active"  onclick="return false;">1</a>  <a href="/guide?page=2">2</a>  <span class="pg-more"> ... </span>  <a href="/guide?page=2" class="pg-navi" accesskey="x" title="2 page">NEXT <i class=ico-page-next></i></a> 
	</div>
</div>

	</article>

</div>	

		</section>
		<footer class="footer">
	<div class="footer-inner">
	    <ul class="sns-area">
			<li><a href="https://discord.com/invite/archeworld-935064183244988446" target="_blank"><i class="ico-discord-black"></i></a></li>
			<li><a href="https://x.com/ArcheWorld_NFT" target="_blank"><i class="ico-x-black"></i></a></li>
			<li><a href="https://t.me/ArcheWorld_nft" target="_blank"><i class="ico-telegram-black"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCr6VSErE34grhDrxqutPr0A" target="_blank"><i class="ico-youtube-black"></i></a></li>
		</ul>
		<div class="footer-bi"><a href="https://company.xlgames.com/en">XLGAMES</a></div>
		<ul class="footer-util">
			<li><a href="https://company.xlgames.com/en" target="_blank">About us</a></li>
			<li><a href="https://member.archeworld.com/legal/service/service">Terms of Service</a></li>
			<li><a href="https://member.archeworld.com/legal/privacy/privacy">Privacy Policy</a></li>
			<li><a href="https://www.archeworld.com/policy/operational">Operational Policy</a></li>
		</ul>
		<div class="copyright">Copyright &copy; XLGAMES Inc. All rights reserved.</div>
	</div>
</footer>
	</div>
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/jquery/1.12.4/jquery-min.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/jquery.ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/jquery.cookie/1.4.1/jquery.cookie.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/swiper/8.0.6/swiper-bundle.min.js"></script>	
	<script type="text/javascript" src="/resources-202501091402/js/share/lib/iscroll/iscroll-lite.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/xlgames.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/xlgames_modal.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/xlgames_common_ui.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/header/navigation.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/cookie/authUpdateCookie_service.js"></script>
    <script type="text/javascript" src="/resources-202501091402/js/weblauncher/weblauncher.js"></script>
    <script type="text/javascript">
(function($) {
	"use strict";
	if (typeof window.XLGames === "undefined") { window.XLGames = {};}
	if (typeof XLGames.LoginUser === "undefined") { XLGames.LoginUser = {}; }
	
	XLGames.currentMenu = 'guide';
	XLGames.currentMenuGroup = 'guide';
	XLGames.isMobileView = false;
	XLGames.LoginUser.isGuest = true;
	
	
	XLGames.currentLanguage = 'en';
	XLGames.envTimeZone = 'Asia/Seoul';
	XLGames.imgPrefix = '/resources-202501091402/images';
	XLGames.currentFullUrl = 'https://www.archeworld.com/guide/148';
	XLGames.needAgree = false;
	
	XLGames.webLauncherUrl = "/aw-download1.archeworld.com/launcher/updates";
	XLGames.UPDATE_AUTH_COOKI_NAME = 'member-update-auth';
	XLGames.COOKIE_DOMAIN = "archeworld.com";
	XLGames.currentRegion = '';
	XLGames.walletNetworkId = '77001';
	XLGames.domains = {
		archeworld : "https://www.archeworld.com",
		account: "https://member.archeworld.com",
		cs : "https://www.archeworld.com",
		xlcach: "https://bslt.asia.xbluesalt.io",
		bslt : "https://bslt.asia.xbluesalt.io",
		scope : "https://scope.asia.xbluesalt.io",
		xbluesalt : "https://www.xbluesalt.io",
		cookieDomain : "archeworld.com"
	}
})(jQuery);
</script>
    <script type="text/javascript" src="/resources-202501091402/js/share/i18n/message_en.js"></script>
	
	<script type="text/javascript" src="/resources-202501091402/js/mboard/mboard.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/share/calendar.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/mboard/wikiEditor.js"></script>
	<script type="text/javascript" src="/resources-202501091402/js/search/search_service.js"></script>	
	<script type="text/javascript">	
	$(document).ready(function() {
		new XLGames.Search({'$form' : $("#searchForm")});
		new XLGames.Board.Show('HTML');
	});
	</script>


	<script type="text/javascript">
	$(document).ready(function(){	
		new XLGames.IScroll('slider', 'tabCategory');
		XLGames.CommonUI.loginRequired();
		XLGames.CommonUI.certfyRequired();
		let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', vh + 'px');
        window.addEventListener('resize', function () {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', vh + 'px');
        });
	});
	</script>
	
<script type="module">
	import {createApp} from "/resources-202501091402/js/share/lib/vue.js/3.2.47/vue.js";
	import {regionApp} from "/resources-202501091402/js/region/region_service.min.js";
    const app = createApp(regionApp);
	app.config.globalProperties.AL10N = AL10N; 
    app.config.globalProperties.globalData = {
		currentLang : XLGames.currentLanguage,
        domains : XLGames.domains,
    }
    app.mount("#regionContainer");
</script>

	
<script type="module">
	import {createApp} from "/resources-202501091402/js/share/lib/vue.js/3.2.47/vue.js";
	import {cookieApp} from "/resources-202501091402/js/cookie/cookiemanage_service.min.js";
    const app = createApp(cookieApp);
    app.config.globalProperties.globalData = {
		currentLang : XLGames.currentLanguage,
        domains : XLGames.domains
    }  
    app.mount("#cookieRegionContainer");
</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BZB19WG7FR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BZB19WG7FR');
</script>
</body>
</html>
