html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body, input, textarea, select, table, button { letter-spacing: -0.1rem; font-family: -apple-system, "Malgun Gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols; }

html { font-size: 62.5%; }

fieldset, img { border: 0 none; }

fieldset { clear: both; }

legend { display: none; }

em, address { font-style: normal; }

ul, ol, dl { list-style: none; }

button { cursor: pointer; border: 0 none; }

hr { clear: both; }

label { cursor: pointer; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; cursor: pointer; }
a:hover, a.active { text-decoration: none; }

img { vertical-align: top; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

header, hgroup, article, nav, footer, figure, figcaption, canvas, section, menu, details, aside { display: block; }

button, input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

button, input, textarea { margin: 0; }

input, label { vertical-align: middle; }

input[type='checkbox'], input[type='radio'] { margin: 0; padding: 0; *margin: -3px; *margin-left: -4px; }

a:active { background-color: inherit; }

.errorpage { position: relative; width: 100%; height: 100vh; text-align: center; }
.errorpage .bar { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5ZjZmZmUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MGM0ZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, #9f6ffe), color-stop(100%, #60c4ff)); background-image: -moz-linear-gradient(left, #9f6ffe 50%, #60c4ff 100%); background-image: -webkit-linear-gradient(left, #9f6ffe 50%, #60c4ff 100%); background-image: linear-gradient(to right, #9f6ffe 50%, #60c4ff 100%); height: 0.2rem; }

@media screen and (min-width: 320px) and (max-width: 767px) { .errorpage { background: url("../images/util/bg-m.jpg") no-repeat center 0; background-size: cover; min-height: 35rem; }
  .errorpage .cont { position: absolute; top: 50%; left: 0; width: 100%; height: 35rem; margin-top: -17.5rem; text-align: center; }
  .errorpage .cont img { width: 18.9rem; height: 14.5rem; }
  .errorpage .cont strong { display: block; color: #fefefe; font-size: 3.5rem; font-weight: normal; margin-top: 2rem; }
  .errorpage .cont p { color: #bcbcbc; font-size: 1.4rem; margin-top: 1.5rem; }
  .errorpage .cont .wrap-btn { margin-top: 2rem; }
  .errorpage .cont .wrap-btn .btn { width: 22.4rem; height: 4rem; background-color: rgba(255, 255, 255, 0.15); color: #fff; font-size: 1.4rem; line-height: 4rem; text-align: center; -moz-border-radius: 4rem; -webkit-border-radius: 4rem; border-radius: 4rem; } }
@media screen and (min-width: 767px) and (max-width: 1199px) { .errorpage { background: url("../images/util/bg.jpg") no-repeat center 0; background-size: cover; min-height: 55rem; }
  .errorpage .cont { position: absolute; top: 50%; left: 50%; width: 70rem; height: 55rem; margin: -27.5rem -35rem; text-align: center; }
  .errorpage .cont strong { display: block; color: #fefefe; font-size: 6rem; font-weight: normal; margin-top: 3rem; }
  .errorpage .cont p { color: #bcbcbc; font-size: 2rem; margin-top: 2rem; }
  .errorpage .cont .wrap-btn { margin-top: 3rem; }
  .errorpage .cont .wrap-btn .btn { width: 17.4rem; height: 4.8rem; background-color: rgba(255, 255, 255, 0.15); color: #fff; font-size: 2rem; line-height: 4.8rem; text-align: center; -moz-border-radius: 4.8rem; -webkit-border-radius: 4.8rem; border-radius: 4.8rem; } }
@media screen and (min-width: 1199px) { .errorpage { background: url("../images/util/bg.jpg") no-repeat center 0; background-size: cover; min-height: 55rem; }
  .errorpage .cont { position: absolute; top: 50%; left: 50%; width: 100rem; height: 55rem; margin: -27.5rem -50rem; text-align: center; }
  .errorpage .cont strong { display: block; color: #fefefe; font-size: 6rem; font-weight: normal; margin-top: 3rem; }
  .errorpage .cont p { color: #bcbcbc; font-size: 2rem; margin-top: 2rem; }
  .errorpage .cont .wrap-btn { margin-top: 3rem; }
  .errorpage .cont .wrap-btn .btn { width: 17.4rem; height: 4.8rem; background-color: rgba(255, 255, 255, 0.15); color: #fff; font-size: 2rem; line-height: 4.8rem; text-align: center; -moz-border-radius: 4.8rem; -webkit-border-radius: 4.8rem; border-radius: 4.8rem; } }
